.mainPage{
    margin-top:4rem;
    width:60%;
    height:100%;
    overflow: scroll;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    gap:2rem;
}

header{
    width:70%;
    margin-top:2rem;
    background:rgb(0, 14, 139);
    color:white;
    border-radius:1rem;
    height:3rem;
    display:flex;
    text-decoration:none;
    list-style: none;
}

nav{
    width:100%;
 display:inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

nav button{
    font-size:1.5rem;
    color:white;
    background: transparent;
    border:none;
    transition:transform 0.3s ease-in-out;
    cursor:pointer;
}

nav button:hover {
    transform:scale(1.1);

}

nav button:active {
    background-color: rgb(40, 54, 182);
}

.searchBar{
    width:50%;
    height:3rem;
    margin-top:3rem;
}

.page{
    width:100%;
    height:100%;
    overflow: scroll;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    gap:2rem;
}

.article{
    padding:0 0 1rem 0;
    width:95%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(44, 44, 44);
    border-radius: 1rem;
    padding:2rem;
    color:white;

}

.article img{
    width:30%;
    height:90%;
    object-fit:cover;
    border-radius:2rem;
}

.article span{
    width:65%;
    display:flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    gap:1rem;

}

.article a{
  margin-top:0.7rem;
}